* {
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  max-width: 1024px;
}


#navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: limegreen;
  color: #000;
  padding: 15px 5px;
  position: sticky;
  top: 0;
  z-index: 100;
}

a {
  color: #000;
}


#navbar nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}


#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: center;
  margin: auto;
  max-width: 768px;
}


#home .containerImageHeader {
  overflow: hidden;
}

#home .imageHeader {
  width: auto;
  height: 350px;
  transition: all 1s ease-in-out;
  border-radius: 0;
}

#home .imageHeader:hover {
  transform: scale(10);
}

#algunaChimbadaXD {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#algunaChimbadaXD>button {
  background-color: burlywood;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  border: 2px red dashed;
}

#algunaChimbadaXD .textoXD {
  color: darkmagenta;
  background-color: #000;
}

#algunaChimbadaXD>button:hover {
  background-color: rgb(255, 145, 0);
  border: 2px rgb(0, 255, 149) dashed;
}

#algunaChimbadaXD>button:active {
  background-color: rgb(0, 110, 255);
  border: 2px rgb(212, 0, 255) dashed;
}

#aboutMe {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#aboutMe h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-style: italic;
}

#aboutMeArticle {
  border: 5px red solid;
  border-radius: 50%;
}

#aboutMeArticle p:first-child {
  color: yellow;
  background-color: rgb(153, 118, 88);
  padding: 4px 8px;
  display: inline;
  margin: 5px 0;
}


#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.project {
  max-width: 300px;

}

.project h3 {
  color: #aaa;
  font-size: 2rem;
  border-left: 12px blue solid;
  border-top: 4px ridge violet;
  text-align: center;
}

.project>a {
  margin: 5px 0;
  padding: 4px 8px;
  color: rgb(9, 129, 129);
  background-color: #aaa;
  transform: translateY(-3px);
  display: block;
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.project>a:hover {
  transform: translateY(3px);
  box-shadow: none;
  background-color: #888;
  color: rgb(11, 185, 185);
}

.containerImageProyecto {
  overflow: hidden;

}

.containerImageProyecto img {
  width: 300px;
  transition: all 0.2s ease-in-out;
}

.containerImageProyecto img:hover {
  transform: translate(50%, 40%);
}

#contactMe {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#contactMe>h2 {
  text-align: center;
  margin-bottom: 25px;
}

#formContactMe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

#formContactMe label>span {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#formContactMe label>span+* {
  width: 100%;
  outline: rgb(255, 0, 170) 4px solid;
  border: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(6, 163, 190);
}