body {
  background-color: #0e394b;
  color: white;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6rem;
}


#nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#nav__logo svg {
  width: 25px;


}

#nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;

}

#nav__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

#nav__buttons a:first-child {
  background-color: rgb(37, 141, 145);
  padding: 12px 28px;
  border-radius: 15px;
}

#nav__buttons a:first-child:hover {
  background-color: rgb(59, 125, 129);

}

#nav__buttons a:last-child {
  border: 1px solid rgb(37, 141, 145);
  padding: 12px 28px;
  border-radius: 15px;
}

#nav__buttons a:last-child:hover {
  border-radius: 0px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  padding-left: 20px;
}

.info>h1 {
  font-size: 32px;
}

figure {
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 50%;
}


.info__buttons {
  display: flex;
  gap: 15px;
}

.info__buttons a {
  border-bottom: 1px solid white;
}

.info__buttons a:hover {
  color: #adaaaa;
  border-bottom: 1px solid #adaaaa;
}